.description {
    background-color: $color-light-grayish-blue;
    min-height: 67.5rem;
    @media only screen and (max-width: $mobile) {
        text-align: center;
    }

    &__titlebox {
        width: 55%;
        padding: 10rem 0 2rem;

        @media only screen and (max-width: $mobile) {
            margin: 0 auto;
            padding: 5rem;
            width: 100%;
        }

        &--title {
            color: $color-dark-blue;
            font-size: 4rem;
            font-weight: 300;
            margin-bottom: 2rem;
        }

        &--paragraph {
            font-size: 1.65rem;
            margin-bottom: 5rem;
            line-height: 2.5rem;
            color: $color-grayish-blue;
        }
    }
}

.container-infobox {
    display: flex;
    @media only screen and (max-width: $mobile) {
        flex-direction: column;
    }
}

.description__infobox {
    &:not(:last-of-type){
        margin-right: 2rem;
    }

    &--icon {
        margin-bottom: 4rem;
    }
    
    &--heading {
        font-size: 2.4rem;
        font-weight: 400;
        color: $color-dark-blue;
        margin-bottom: 2.5rem;
    }

    &--paragraph {
        color: $color-grayish-blue;
        font-size: 1.58rem;
        line-height: 2.3rem;
        @media only screen and (max-width: $mobile) {
            margin-bottom: 5rem;
        }
    }
}




