.footer {
    background-color: $color-dark-blue;
    height: 21rem;
    @media only screen and (max-width: $tablet-port) {
        height: auto;
    }
}

.footer__box {
    padding: 4rem 0;
    display:flex;
    height: 90%;

    @media only screen and (max-width: $tablet-port) {
        flex-direction: column;
    }

    &-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 15%;
        
        @media only screen and (max-width: $tablet-port) {
            width: 100%;
            align-items: center;
            justify-content:space-between;

        &--logo {
            @media only screen and (max-width: $tablet-port) {
                margin-bottom: 4rem;
            }
        }
        }
    }
    &--iconslist {
        display: flex;
        list-style: none;
        @media only screen and (max-width: $tablet-port) {
            margin-bottom: 4rem;
        }
    }

    &--icons {
        &:not(:last-of-type) {
            margin-right: 1rem;
        }

        &-link {
            text-decoration: none;

        }

        &-object {
            pointer-events: none;
        }

    }

    &-2, &-3 {
        width: 15%; 
        @media only screen and (max-width: $tablet-port) {
            width: 100%;
        }

        &--list {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 100%;
            @media only screen and (max-width: $tablet-port) {
                align-items: center;
            }
        }

        &--item {
            @media only screen and (max-width: $tablet-port) {
                margin-bottom: 2rem;
            }
            &-link, &-link:visited {
                text-decoration: none;
                color:$color-light-grayish-blue;
                
            }
            &-link:hover,
            &-link:active,
            &-link:focus {
                color: $color-lime-green;
            }
        }
    }

    &-2 {
        margin: 0 1rem 0 12rem;
        @media only screen and (max-width: $tablet-port) {
            margin: 0;
        }
    }

    &-4 {
        flex:1;
        display: flex;
        justify-content: flex-end;
        text-align: right;
        @media only screen and (max-width: $tablet-port) {
            align-items: center;
            justify-content: space-between;
            margin: 0 auto;
        }

        &--list {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

        }

        &--item-copyright {
            display: block;
            color: $color-grayish-blue;
            margin-top: 2rem;
        }

    }
    
}

.footer__box-4--item {
    @media only screen and (max-width: $tablet-port) {
        margin-top: 4rem;
        align-self: center;
    }
}

.attribution {
    font-size: 1.5rem;
    text-align: center;
    color: $color-white;

}

.attribution{
    &__link,
    &__link:visited {
        text-decoration: none;
        background-image: linear-gradient(to right, $color-bright-cyan, $color-lime-green);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
    }

    &__link:hover,
    &__link:active,
    &__link:focus {
        background-image: linear-gradient(to right, $color-lime-green, $color-bright-cyan);
    }

}